/* src/app/globals.css */

/* คุณสามารถลบโค้ด CSS เริ่มต้นทั้งหมดในไฟล์นี้ได้
   และให้ MUI's CssBaseline จัดการเรื่องพื้นฐานแทน */

/* อาจจะเหลือแค่โค้ดที่จำเป็นสำหรับการปรับ font หรือ body margin (แต่ MUI ก็จัดการให้แล้ว) */
html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* คุณอาจต้องการกำหนด scrollbar style ที่นี่ */
body::-webkit-scrollbar {
  width: 8px;
  background-color: #1a1e20; /* สีพื้นหลัง scrollbar */
}

body::-webkit-scrollbar-thumb {
  background-color: #5d709b; /* สีของ thumb (เลื่อนได้) */
  border-radius: 4px;
}
